@import "settings";
@import "foundation";
@import "font-awesome";

// Extra button styles
.button {
  &.round { border-radius: 1em; }

  // Sizes
  &.xlarge  { @include button-size(xlarge); }
  &.xxlarge { @include button-size(xxlarge); }

  // Colors
  &.info { @include button-style($info-color); }

  &.hollow {
    &.info { @include button-style($info-color, $style: hollow); }
  }
}

// Base styles

ul, ol { display: inline-block; }

.header {
  @extend .text-center;

  .grid-block {
    padding:          $global-padding;
    background-color: $gray-light;
  }
}

.body {
  @extend .text-center;

  .answer {
    @extend .button;
    @extend .button.xxlarge;
  }
}

.navigation {
  background-color: $gray;
  padding-top:      $global-padding;

  button {
    @extend .button;
    @extend .button.secondary;

    &.next { @extend .button.success; }
  }

  .start-over {
    @include grid-content($size: 12, $order: 2);

    @include breakpoint(medium) {
      @include grid-order(1);
      @include grid-size(3);
    }

    button { @extend .button.hollow; }
  }

  .change-page {
    @extend .text-center;
    @include grid-content($size: 12, $order: 1);

    @include breakpoint(medium) {
      @include grid-order(2);
      @include grid-size(6);
    }
  }
}

.footer {
  @extend .text-center;

  background-color: $gray;

  padding-bottom: $global-padding;
}
